.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
  transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.featureSvg:hover {
  transform: scale(1.1); /* Scale up on hover */
}
